 
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
    <%= render @portfolio_items %>
    </div>

<%= link_to("Opret nyt item", new_portfolio_path, class: "button warning") if logged_in?(:site_admin) %>





