
<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Om</h4>
    <p>Det er fucking svært at lære baby! Elsker det, men fuck hvor er det dog mega fucking svært <3</p>
  </div>
  <div class="sidebar-module">
    <h4>Topics</h4>
    <ol class="list-unstyled">
      <% topics.each do |topic| %>
      <li><%= topic.title %></li>
      <% end %>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><%= link_to (fa_icon "github-alt", text: "Github"), "https://github.com/", target: "_blank" %></li>
      <li><%= link_to (fa_icon "twitter", text: "Twitter"), "https://twitter.com/", target: "_blank" %></li>
      <li><%= link_to (fa_icon "facebook", text: "Facebook"), "https://facebook.com/", target: "_blank" %></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
