<div>
  <%= link_to "Home", root_path, class: "button secondary" %>
  <%= link_to "Om", about_path, class: "button secondary" %>
  <%= link_to "Kontakt", contact_path, class: "button secondary" %>
  <%= link_to "Blogs", blogs_path, class: "button secondary" %>    
</div>
