<div class="row">
	<div class="col-md-4">
 		<%= image_tag "profile_about", width: 350 %>
 	</div>
	<div class="offset-md-2 col-md-4">
		<h1>HEY</h1>
		<p>Jeg er Peter fra Jylland. 
			Jeg elsker web-design og min kæreste. Men hvad skal mand a gøre!
			Jeg var engang ret lækker, har jeg hørt!</p>

	</div>

</div>