
<h2>Vil du gerne arbejde sammen?</h2>
<hr>
<div class="row">
	<div class="col-md-6">
<h1>Contact</h1>

<p>Tlf. nr.: <%= number_to_phone "42645898" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_with_delimiter "13012983309800", delimiter: "." %></p>

	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2215.603551536421!2d10.555592615505727!3d56.26762765963545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c31b81076c5c1%3A0x257debe275f6f6!2zS8OmcnRvZnRlbiA1LCA4NDEwIFLDuG5kZQ!5e0!3m2!1sda!2sdk!4v1496665385036" width="250" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>