<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="row">
	<div class="column large-12">
		<h2>Posts</h2>
		<% @posts.each do |post| %>

			<p><%= post.title %></p>

		<% end %>
		<h2>Skills</h2>
		<% @skills.each do |skill| %>

			<h4><%= skill.title %></h4>
			<div style="height: 10px; background-color: orange; width: <%= skill.procent_utilized %>%">

		<% end %>


	</div>
</div>
