

      

      <div class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
        <%= link_to "Se mere", about_path, class: "btn btn-lg btn-secondary" %>

        </p>
      </div>


<!-- 
<h1>HEY <%= current_user.name %></h1>
<hr>
<p class="my-special-class">
	Hy! I'm in a paragraf tag! 

	I was once a lonely writer, and i don't know what to do now! 
</p>


<%= source_helper("application") %>
 -->