<h1>HEY <%= current_user.name %></h1>
<hr>
<p class="my-special-class">
	Hy! I'm in a paragraf tag! 

	I was once a lonely writer, and i don't know what to do now! 
</p>


<%= source_helper("application") %>
